.Form input {
    box-sizing: border-box;
  width: 250px;
  padding-left: 36px;
  height: 48px;
  /* background-image: url('../../../img/user\ \(1\).png'); */
  background-size: 20px;
  background-position-x: 10px;
  background-position-y: 50%;
  background-repeat: no-repeat;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.245);
}
/* adding image to current input  */
.Form .userName{
    /* background-image: url('../../../..img/user\ \(1\).png'); */
}

.Form form {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin: 30px 0px;
    /* margin: 10px; */
}

.Form form input {
    margin: 15px 0;
}

.Form form .textarea{
    position: absolute;
    right: 40px;
    
}

.Form form .textarea textarea {
    border:2px solid #F0F0F0;
    background-color:#F0F0F0;
    padding:15px
}

.Form .email {
    /* background-image:url('../../../..img/envelope.png') */
}

.Form .phone {
    background-image:url('../../../../img/smartphone.png')
}

.Form input:focus {
    outline: none;
    border:2px solid #FA949D;
    color: #FA949D;
}

.Form form .textarea textarea:focus {
    outline: none;
    border:2px solid #FA949D;
    color: #FA949D;
}
